aiohttp==3.8.3
aiosqlite==0.19.0
aiowiki==1.3
discord.py==2.1.1
fastapi==0.100.1
Flask==2.2.2
gists==0.4.6
humanize==4.7.0
itsdangerous==2.1.2
moviepy==1.0.3
num2words==0.5.12
numpy==1.24.1
pandas==2.0.3
Pillow==10.0.0
pet-pet-gif
pilmoji==2.0.3
pytz==2023.3
PyYAML==6.0.1
Requests==2.31.0
requests_oauthlib==1.3.1
simpleeval==0.9.13
starlette==0.31.0
twitchAPI==3.11.0
twitchio==2.5.0
ujson==5.8.0
uvicorn==0.23.2
wand==0.6.11
